{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Confidence Nkeonye | Backend Developer {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        html { scroll-behavior: smooth; }
    </style>
</head>
<body class="font-sans bg-gray-100">
    <!-- Navbar -->
   
    <nav class="fixed w-full bg-white shadow-md z-50">
        <div class="max-w-6xl mx-auto justify-between items-center p-4">
            <h1 class="text-xl font-bold text-blue-700">Confidence Nkeonye</h1>
            <div class="space-x-6 text-gray-700 font-medium">
                <a href="{% url 'home' %}" class="hover:text-blue-600">Home</a>
                <a href="#about" class="hover:text-blue-600">About</a>
                <a href="#projects" class="hover:text-blue-600">Projects</a>
                <a href="{% url 'contact' %}" class="hover:text-blue-600">Contact</a>
            </div>
        </div>
    </nav>
    

    <!-- Page Content -->
     <div class="pt-20">
        {% block content %}
        {% endblock %}
        
     </div>

     <!-- Footer -->
    <footer class="py-6 bg-gray-900 text-white text-center mt-10">
        <p>&copy; {{ now|date:"Y" }} Confidence Nkeonye - All Rights Reserved.  </p>
    </footer>
</body>
</html>