{% extends 'base.html '%}

{% block title %}Home | Confidence Nkeonye {% endblock %}

{% block content %}
<!-- Hero Section -->
<section id="home" class="hero-bg text-center py-32 bg-gradient-to-r from-blue-700 to-indigo-600 text-white">
    <h2 class="text-5xl font-bold mb-4"> Hi, I'm Confidence Nkeonye </h2>
    <p class="text-lg mb-6">Python & Django Backend Developer passionate about building scalable and secure APIs. </p>
    <a href="#projects" class="bg-white text-blue-700 px-6 py-3 rounded-full font-semibold hover:bg-gray-200 transition">View My Work</a>
</section>

<!-- About Section -->
 <section id="about" class="py-20 px-6 bg-white text-center">
    <h3 class="text-3xl font-bold text-vlue-700 mb-6">About Me</h3>

 </section>

<section class="projects">
    <h2> My Projects </h2>
    <div class="project-list">
        {% for project in projects %}
        <div class="project">
            {% if project.image %}
            <img src="{{ project.image.url }}" alt="{{ project.title }}">
            {% endif %}
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
            <p><strong>Tech Stack:</strong> {{ project.tech_stack }}</p>

            {% if project.github_link %}
            <a href="{{ project.github_link }}" target="_blank"> GitHub </a>
            {% endif %}

            {% if project.live_demo %}
            <a href="{{ project.live_demo }}" target="_blank">Live Demo</a>
            {% endif %}
        </div>
        {% empty %}
        <p>No projects added yet. Add some via the admin panel.</p>
        {% endfor %}
    </div>
    <!-- <ul>
        <li> <strong> Social Media API </strong>- Built with Django REST Framework </li>
        <li> <strong> Weekly To-Do API</strong> - Personal productivity API </li>
        <li> <strong>Real Estate Software </strong>- Final Year Award-Winning Project </li>
    </ul> -->
</section>
{% endblock %}