{% extends 'base.html '%}

{% block title %}Home | Confidence Nkeonye {% endblock %}

{% block content %}
<section class="hero">
    <h2>Hello, I'm <span>Confidence Nkeonye </span> </h2>
    <p> A Backend Developer skilled in Python, Django, Flask, and REST APIs. </p>
</section>

<section class="projects">
    <h3> Featured Projects </h3>
    <ul>
        <li> <strong> Social Media API </strong>- Built with Django REST Framework </li>
        <li> <strong> Weekly To-Do API</strong> - Personal productivity API </li>
        <li> <strong>Real Estate Software </strong>- Final Year Award-Winning Project </li>
    </ul>
</section>
{% endblock %}